@media (min-width: 1280px) {
  body, html {
    height: 100%; } }

body {
  background: #333; }

nav {
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100; }
  @media (max-width: 1023px) {
    nav {
      width: 100%;
      background: #ebebeb;
      padding-bottom: 5px; } }
  nav .nav-pills > li > a {
    position: relative;
    border-radius: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.85); }
    @media (max-width: 1023px) {
      nav .nav-pills > li > a {
        background: #333;
        box-shadow: none; } }
    nav .nav-pills > li > a:hover {
      background: transparent; }
      @media (max-width: 1023px) {
        nav .nav-pills > li > a:hover {
          background: #333; } }
    nav .nav-pills > li > a:hover, nav .nav-pills > li > a:active, nav .nav-pills > li > a:focus {
      border: 0 !important;
      outline: none !important; }
    nav .nav-pills > li > a > i {
      font-size: 18px; }
    nav .nav-pills > li > a > .badge {
      padding: 3px;
      font-size: 10px;
      color: #fff;
      margin: 0; }
  nav .nav-pills > li.active > a {
    background: #ebebeb;
    box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.95); }
    @media (max-width: 1023px) {
      nav .nav-pills > li.active > a {
        box-shadow: none; } }
    nav .nav-pills > li.active > a:hover, nav .nav-pills > li.active > a:active, nav .nav-pills > li.active > a:focus {
      color: #000;
      background: #ebebeb; }
      @media (max-width: 1023px) {
        nav .nav-pills > li.active > a:hover, nav .nav-pills > li.active > a:active, nav .nav-pills > li.active > a:focus {
          box-shadow: none; } }
    nav .nav-pills > li.active > a > .badge {
      color: #fff; }
  nav .nav-pills > li.active a, nav .nav-pills > li.active a span.txt {
    color: #333; }
  nav .nav-tabs {
    margin: 0;
    border: 0; }
    nav .nav-tabs > li {
      margin: 0;
      border: 0; }
      @media (max-width: 1023px) {
        nav .nav-tabs > li {
          float: left;
          width: 33.333%;
          padding: 0;
          margin: 0; } }
      nav .nav-tabs > li > a {
        margin: 0;
        border: 0; }
        @media (min-width: 1024px) {
          nav .nav-tabs > li > a > i:after {
            content: "";
            display: block; } }
        @media (max-width: 1023px) {
          nav .nav-tabs > li > a > span.txt {
            display: none; } }
      nav .nav-tabs > li.active > a {
        border: 0; }
        nav .nav-tabs > li.active > a:hover {
          border: 0;
          margin: 0; }

.container-fluid {
  margin-left: 80px;
  background: #ebebeb;
  box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.95); }
  @media (min-width: 1280px) {
    .container-fluid {
      height: 100%; } }
  @media (max-width: 1023px) {
    .container-fluid {
      margin-left: 0;
      margin-top: 47px; } }
  .container-fluid .detail {
    display: none; }
  @media (max-width: 1279px) {
    .container-fluid .row > div {
      width: 100%;
      float: none;
      left: auto;
      right: auto; } }

.content {
  padding: 10px; }

.widget {
  border: 1px solid #ddd;
  background: #fff;
  overflow: hidden;
  margin: 15px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05); }

.chart, #filters, #saved {
  overflow-x: hidden;
  overflow-y: auto; }

.table {
  margin-bottom: 0;
  border-bottom: solid 1px #ddd; }
  .table.table-hover > tbody tr:hover {
    cursor: pointer; }
  .table th {
    font-size: 11px; }
  .table th.action, .table td.action {
    text-align: right;
    width: 80px; }
  .table .glyphicon-remove {
    color: brown; }

.controls {
  text-align: center;
  background: #f7f7f7;
  border-top: solid 1px #ddd;
  padding: 5px; }
  .controls i {
    font-size: 15px; }
  .controls button:disabled i {
    color: #ddd; }
  .controls label {
    display: inline-block;
    font-size: 11px;
    margin-left: 20px; }
  .controls .dropdown-toggle .text {
    display: inline-block;
    min-width: 100px;
    text-align: left; }
  .controls .total-select {
    margin-right: 20px; }

.bar:hover, .bar.hover, .bar2:hover, .bar2.hover, .slice:hover, .slice.hover, .point:hover, .point.hover, .hover:hover, .hover.hover {
  cursor: pointer; }

.slice.no-hover:hover {
  cursor: default; }

g text {
  font: 10px sans-serif; }

text.title {
  font: bold 12px sans-serif;
  text-anchor: middle; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

#usmap .background {
  fill: white;
  fill-opacity: 0.45; }
#usmap #mapGroup #states path {
  fill-opacity: 0.75;
  stroke-opacity: 0.95;
  stroke-width: .5px; }
  #usmap #mapGroup #states path.quoted:hover {
    cursor: zoom-in;
    fill-opacity: 1.0;
    stroke-opacity: 1.0; }
  #usmap #mapGroup #states path.active {
    fill: #fff;
    stroke: #ddd;
    fill-opacity: 1;
    stroke-opacity: 1; }
    #usmap #mapGroup #states path.active:hover {
      cursor: zoom-out;
      fill-opacity: 0;
      stroke-opacity: 0; }
#usmap #mapGroup #places circle {
  stroke: white;
  stroke-width: 0.1;
  fill-opacity: 0.65; }
  #usmap #mapGroup #places circle:hover {
    fill-opacity: 0.95; }
#usmap #mapGroup.centered #states path {
  fill-opacity: 0.25;
  stroke-opacity: 0.25; }
  #usmap #mapGroup.centered #states path:hover {
    cursor: zoom-out;
    fill-opacity: 0.50;
    stroke-opacity: 0.50; }
  #usmap #mapGroup.centered #states path.quoted:hover {
    cursor: zoom-in; }
  #usmap #mapGroup.centered #states path.active {
    fill-opacity: 0;
    stroke-opacity: 0.25; }
    #usmap #mapGroup.centered #states path.active:hover {
      cursor: zoom-out; }

.horizontalGrid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #e5e5e5;
  stroke-width: 1px; }

.pieLabel {
  fill: white;
  font-weight: bold;
  font-size: 12px; }

.legend .key text {
  font-size: 11px;
  font-weight: bold;
  fill: #666; }
.legend .key:hover {
  cursor: pointer; }

.field-select {
  max-height: 300px;
  overflow-y: scroll; }

.chart-tip {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  display: none;
  top: 0px;
  left: 0px; }
  .chart-tip table {
    border: solid 1px #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    box-shadow: 7px 7px 12px -9px #777777;
    opacity: 0.9; }
    .chart-tip table tr {
      border: 1px solid #CCC; }
    .chart-tip table th {
      background-color: #aaa;
      font-size: 12px;
      padding: 2px 5px;
      text-align: left;
      color: #FFF;
      border-left: 1px dotted #fff; }
    .chart-tip table td {
      font-size: 11px;
      padding: 3px 6px;
      background-color: #fff;
      border-left: 1px dotted #999; }

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1000; }
  .loading div {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: -100px;
    margin-left: -100px;
    color: white; }

iframe {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 0; }

#searchTabs {
  border-bottom: 0;
  margin-bottom: -15px; }
  #searchTabs > li > a {
    font-size: 11px;
    font-weight: bold;
    padding: 0 8px;
    line-height: 40px; }
    #searchTabs > li > a > .badge {
      font-size: 11px; }

.ui-effects-transfer {
  border: 2px dotted #61b7cf;
  background: rgba(97, 183, 207, 0.15);
  z-index: 10001; }

.no-data {
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -20px;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  /* W3C */ }
  .no-data span {
    color: #fff; }
